html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
  padding-left: 10px;
  border-left: 10px solid #ad2b4e;
  margin-top: 80px;
}

@font-face {
  font-family: "Beautiful Barbies";
  src: url("../includes/fonts/Beautiful-Barbies.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
header {
  background-color: black;
  padding: 20px;
}
header .cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .cabecera img {
  width: 100px;
  z-index: 4;
}
header .cabecera .material-icons {
  color: #fff;
  cursor: pointer;
  z-index: 4;
}
header .cabecera nav {
  display: none;
}
header .cabecera nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
header .cabecera nav ul li a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  display: block;
}
header .cabecera nav ul li a:hover {
  color: #ad2b4e;
}
header .cabecera .menu-active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 3;
  padding-top: 130px;
}

.contenedor-fotos {
  margin-top: 80px;
}
.contenedor-fotos .ul-usuarios {
  padding: 0;
  list-style: none;
}
.contenedor-fotos .ul-usuarios li {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ad2b4e;
  border-radius: 10px;
  color: #fff;
  gap: 10px;
  box-shadow: 1px 1px 8px #ad2b4e;
}
.contenedor-fotos .ul-usuarios li img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedor-fotos .ul-usuarios li h3 {
  margin-top: 20px;
}

.ul-usuarios {
  padding: 0;
  list-style: none;
}

.btn-amor {
  padding: 10px 15px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  background-image: linear-gradient(red, rgb(153, 16, 16));
}
.btn-amor:hover {
  background-image: linear-gradient(#ad2b2b, rgb(54, 3, 3));
}

/**************************slider**************************************/
.swiper {
  height: 400px;
}
.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.swiper .titulos-sliders {
  position: absolute;
  top: 25%;
  border: none;
  padding: 0;
  font-size: 50px;
  font-family: "Beautiful Barbies";
  color: #ad2b4e;
  text-shadow: 1px 1px 8px #fff;
  left: 10%;
}

footer {
  background-color: black;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer span {
  text-align: center;
  display: block;
}

@media (min-width: 600px) {
  .ul-usuarios {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 768px) {
  header {
    background-color: black;
    padding: 0px;
  }
  header .cabecera {
    flex-direction: row;
    justify-content: space-between;
  }
  header .cabecera .material-icons {
    display: none;
  }
  header .cabecera nav {
    display: block;
  }
  header .cabecera nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .swiper {
    height: 500px;
  }
  .swiper .titulos-sliders {
    position: absolute;
    top: 25%;
    border: none;
    padding: 0;
    font-size: 80px;
    font-family: "Beautiful Barbies";
    color: #ad2b4e;
    text-shadow: 1px 1px 8px #fff;
  }
  .ul-usuarios {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 923px) {
  .ul-usuarios {
    grid-template-columns: repeat(4, 1fr);
  }
  .swiper {
    height: 600px;
  }
}/*# sourceMappingURL=style.css.map */